.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.footer__copyright {
  max-width: 318px;
  color: #545454;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 67px 0 60px 20px;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    font-size: 14px;
    margin: 48px 19px 36px 19px;
  }
}
