.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 0 19px;
  display: flex;
}
.modal__heading {
  width: 330px;
  height: 23px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.modal__input {
  width: 358px;
  height: 14px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__button {
  width: 358px;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  color: #fff;
}

.modal_opened {
  display: flex;
}

.modal_opened:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}

.modal__container:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url("../images/close-icon_vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6px;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 0 19px;
    display: flex;
  }
  .modal__heading {
    width: 330px;
    height: 23px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .modal__input {
    width: 358px;
    height: 14px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .modal__button {
    width: 358px;
    height: 50.152px;
    border-radius: 2px;
    background: #000;
  }

  .modal_opened {
    display: flex;
  }

  .modal_opened:hover {
    opacity: 0.6px;
    cursor: pointer;
  }

  .modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
  }

  .modal__container:hover {
    opacity: 0.6px;
    cursor: pointer;
  }

  .modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    width: 40px;
    height: 40px;
    background-image: url("../images/close-icon_vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .modal__close:hover {
    opacity: 0.6px;
    cursor: pointer;
  }

  .modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
}
