.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 0 19px;
  display: none;
}
.modal__heading {
  width: 100%;
  height: 23px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.modal__input {
  width: 100%;
  height: 14px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: #000;
  border-left: #000;
  border-right: #000;
  margin-top: 29.74px;
  margin-bottom: 43px;
}

.modal__button {
  width: 100%;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  color: #fff;
}

.modal__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 100%;
  height: 40px;
  background-image: url("../images/close-icon_vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
}

@media screen and (max-width: 320px) {
  .modal__heading {
    margin-bottom: 50px;
  }

  .modal__input {
    margin-top: 40px;
  }

  .modal__close {
    height: 26px;
    fill: #fff;
    margin-bottom: 13.62px;
    margin-right: 18.62px;
    left: calc(100% - 40px);
    bottom: calc(100% + 20px);
  }
}
